@import url("https://fonts.googleapis.com/css?family=Ubuntu");
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ebebeb; }

.bg-main {
  background: url(../img/bg.png);
  background-position: center top;
  background-size: cover;
  position: fixed;
  z-index: -2;
  left: 0;
  top: 200px;
  opacity: 1;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%; }

.bg-main::before {
  content: "";
  position: fixed;
  z-index: -1;
  left: 0;
  top: 200px;
  opacity: 0.5;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  -webkit-box-shadow: inset 0 8px 6px -6px black;
  -moz-box-shadow: inset 0 8px 6px -6px black;
  box-shadow: inset 0 8px 6px -6px black; }

.svg-def {
  position: absolute;
  width: 0;
  height: 0; }

.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  margin: 0;
  padding: 0;
  background-color: #282a29;
  z-index: 5000; }

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -125px;
  margin-top: -100px; }

.reflection {
  transform-origin: 50% 110%;
  transform: scaleY(-1);
  opacity: 0.09; }

.jumbotron {
  background: url("https://www.esmt.org/sites/default/files/styles/large_header/public/header_dsi-news.png");
  background-position: center center;
  background-size: cover;
  position: relative; }
  .jumbotron h3, .jumbotron p {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.9); }
  .jumbotron .gradient-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, black 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, black));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, black 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, black 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, black 100%);
    /* ie10+ */
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, black 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* ie6-9 */ }

.bg-inverse {
  background-color: #111 !important; }

/*# sourceMappingURL=style.css.map */
